@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 147.1 91.1% 31%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --chart-total: 220 85% 65%;
    --chart-active: 142 76% 40%;
    --chart-inactive: 240 6.5% 72.7%;

    --success: 142 76% 36%;
    --grayScale-50: 0 0% 98%;
    --grayScale-100: 240 4.8% 95.9%;
    --grayScale-200: 240 5.1% 91.4%;
    --grayScale-300: 240 4.9% 83.9%;
    --grayScale-400: 240 5% 64.9%;
    --grayScale-500: 240 3.8% 46.1%;
    --grayScale-600: 240 5.2% 33.9%;
    --grayScale-700: 240 5.3% 26.1%;
    --grayScale-800: 240 3.7% 15.9%;
    --grayScale-900: 240 5.9% 10%;
    --grayScale-950: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 146.9 81% 47.5%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 66% 50.4%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-total: 220 85% 65%;
    --chart-active: 142 76% 40%;
    --chart-inactive: 240 5% 64.9%;

    --success: 142 76% 36%;
    --grayScale-50: 240 10% 3.9%;
    --grayScale-100: 240 3.7% 15.9%;
    --grayScale-200: 240 5.3% 26.1%;
    --grayScale-300: 240 5.2% 33.9%;
    --grayScale-400: 240 3.8% 46.1%;
    --grayScale-500: 240 5% 64.9%;
    --grayScale-600: 240 4.9% 83.9%;
    --grayScale-700: 240 5.1% 91.4%;
    --grayScale-800: 240 4.8% 95.9%;
    --grayScale-900: 0 0% 98%;
    --grayScale-950: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
